assignment1/cs224d/stanfordSentimentTreebank/README.txt assignment1/cs224d/stanfordSentimentTreebank/SOStr.txt assignment1/cs224d/stanfordSentimentTreebank/STree.txt assignment1/cs224d/stanfordSentimentTreebank/datasetSentences.txt assignment1/cs224d/stanfordSentimentTreebank/datasetSplit.txt assignment1/cs224d/stanfordSentimentTreebank/dictionary.txt assignment1/cs224d/stanfordSentimentTreebank/original_rt_snippets.txt assignment1/cs224d/stanfordSentimentTreebank/sentiment_labels.txt
